<strong>
  <ul class="index_list">
    <li>
      ID
    </li>
    <li class="names">
      Paasenger
    </li>
    <li>
      Edit
    </li>
    <li>
      Delete
    </li>
  </ul>
</strong>

<% @passengers.each do |passenger| %>
<ul class="index_list">
  <li>#
    <%= passenger.id %>
  </li>
  <li class="names">
    <%= link_to(passenger.name, passenger_path(passenger)) %>
  </li>
  <li>
    <%= link_to("Edit", edit_passenger_path(passenger)) %>
  </li>
  <li>
    <%= link_to("Delete", passenger_path(passenger.id), method: :delete, data: {confirm: "Are you sure to delete #{passenger.name}"}) %>
  </li>
</ul>
<% end %>
