<h2>Details for Passenger<% @passenger.name %></h2>
<%= link_to("Request a Trip", new_trip_path) %>


<p>Name: <%= @passenger.name %></p>
<p>Vin: <%= @passenger.phone_num %></p>

<%= link_to("Edit", edit_passenger_path(@passenger)) %>
