<ol>
  <% @drivers.each do |driver| %>
  <li>
    <strong><%= link_to(driver.name, driver_path(driver)) %></strong>


     <%= link_to("Edit", edit_driver_path(driver)) %>
     <%= link_to("Delete", driver_path(driver.id), method: :delete, data: {confirm: "Are you sure to delete #{driver.name}"}) %>
  </li>
  <% end %>
</ol>
