/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: rgb(62, 121, 76);
}

header {
  text-align: center;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(62, 121, 76);
  font-size: 2em;
  padding: 10px;
  color: black;
}

.trip_list, .index_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.2em;
  padding-bottom: 5px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: solid 2px rgb(189, 217, 191);
}
.index_list a:visited {
  color: rgb(62, 121, 76);
}

.trip_list a:visited {
  color: rgb(62, 121, 76);
}

strong {
  font-size: 1.5em;
}

.trip_list > li {
  margin-left: 20px;
  width: 100px;
}

.index_list > li {
  margin-left: 20px;
  width: 100px;
}

.trip_list > .names {
  width: 200px;
}

.index_list > .names {
  width: 200px;
}

.home-page {
  display: flex;
}

.home-page > .left-side > .back-pic {
  width: 1000px;
  height: 800px;
}

.nav_bar > li > a:visited {
  color: white;
}

.nav_bar > li > a:hover {
  color: black;
}

footer {
  height: 50px;
  margin-top: 20px;
  text-align: center;
}
