// Place all the styles related to the drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_page {
  display: flex;
  justify-content: center;
}

.new_page  .new_info {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.new_info > li {
  margin: 10px 30px;
}

.new_info_top, .new_info_bottom {
  text-align: center;
}

.new_info_bottom {
  margin: 30px;
}
